/*home-page css*/

.home-body h1{
    padding-top: 10%;
    text-align: center;
    color: white;
}
.home-ticket{
    margin-top: -5%;
    margin-bottom: -5%;
    /*cursor: pointer;*/
}
.home-background-img{
    position: fixed;
    max-width: 100%;
    z-index: -1;
    background-attachment: fixed;
}
.home-ticket .ticket-info-container{
    display: none;
}
.home-body .ticket-container{
    margin: -2% auto;
    display: block;
}


/*Ticket-page css*/
.ticket-header{
    margin: 9% 7% -2%;
}

.single-ticket-page h1{
    padding-top: 8%;
   /* margin-bottom: -7%;*/
    margin-left: 3%;
}
.single-ticket-page .ticket-img-container{
    width: 80%;
    margin: 7% auto;
}
.single-ticket-page .ticket-info-container{
    margin-left: 3%;
    width: 80%;
    margin: 8% auto !important;
}
.single-ticket-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.add-cart-btn{
    background-color: #145FDD;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10%;
    width: 90%;
    font-size: 20px;
}

/*cartOverview-page css*/

.cart-overview{
    padding-top: 8%;
    margin-left: 7%;
}
.cartOverview-page .ticket-img-container{
    width: 80%;
    margin: 7% auto;
}
.cartOverview-page .ticket-info-container{
    display: none;
}

.cartOverview-page{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: -2%;
}

/*confirmation-page css*/

.confirmation-page{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 70%;
    margin: 8% auto 0 auto;
    background-color: #D9D9D9;
    text-align: center;
}

.circle {
  position: relative;
  background: #000;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 3% auto;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: 67px;
  width: 29px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

@media screen and (max-width: 600px) {
    /* All tickets responsive */
    .home-body .ticket-img-container{
        width: 95%;
        margin-bottom: 20%;
    }
    .home-body .event-location{
        right: unset;
        top: 30%;
    }
    .home-body .event-price{
        right: 2%;
    }
    /* Single ticket responsive */
    .single-ticket-page{
        grid-template-columns: 1fr;
    }
    .single-ticket-page .ticket-img-container{
        width: 95%;
        margin: 10% auto 18% auto;
    }
    .single-ticket-page .ticket-info-container{
        width: 95%;
        margin-top: 10%;
    }
    .single-ticket-page .seller-container{
        margin: auto;
        width: 95%;
    }
    .single-ticket-page .add-cart-btn{
        margin: 5% auto;
        width: 95%;
        display: block;
    }
    /* Cart overview responsive */
    .cartOverview-page{
        grid-template-columns: 1fr;
    }
    .cartOverview-page .ticket-img-container{
        width: 95%;
    }
    .cartOverview-page .price-info-container{
        width: 95%;
        margin: 10% auto;
    }
    .cartOverview-page .payment-btn{
        margin-top: 15%;
    }
    /* Confirmation page responsive */
    .confirmation-page{
        margin-top: 25%;
        width: 95%;
    }
    .confirmation-page .circle{
        width: 100px;
        height: 100px;
    }
    .checkmark {
        left: 24%;
    }
    .confirmation-page h3{
        font-size: 23px;
    }
  }
